<nav>
  <div class="container">
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="index.html" data-page="home">Beranda</a>
      </li>
      <li class="nav-item">
        <a href="tentang.html" data-page="about">Tentang Kami</a>
      </li>
      <li class="nav-item">
        <a href="layanan.html" data-page="services">Layanan</a>
      </li>
      <li class="nav-item">
        <a href="donasi.html" data-page="donasi">Donasi</a>
      </li>
      <li class="nav-item">
        <a href="kontak.html" data-page="contact">Kontak</a>
      </li>
    </ul>
  </div>
</nav>
